<h1>Veuillez confirmer votre email ! </h1>

<p>
    Merci de confirmer en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl }}">Confirmez mon email</a>.
    Ce lien expire dans: {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci ! 
</p>
